<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">E-Cart</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-5">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/products" >Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/cart"><i class="bi bi-cart3"></i>
              <span class="position-absolute translate-middle badge rounded-pill bg-danger" style="height: 20px; width:20px; font-size: 12px;">
                 3
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>